#sidebar {
  background: #FAFAFA;
  grid-area: sidebar;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 208px;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
}
.sidebar__img {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}
.sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}
.sidebar__title > i {
  font-size: 18px;
  display: none;
}
.sidebar__menu > h2 {
  color: #51788F;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
  font-family: 'Updock', cursive;
}

.sidebar__link {
  color: #f3f4f6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}
.active_menu_link {
  background: #A6BFD7;
  color: #FAFAFA;
}

.active_menu_link a {
  color: #FAFAFA !important;
}
.sidebar__link > a {
  text-decoration: none;
  color: #9DA0AF;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;

}
.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}
.sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}
.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }
  .sidebar__title > i {
    display: inline;
  }
}
