.inner3 {
    width: 1000px !important;
    min-height: 700px !important;
    position: absolute !important;
    top:1000% !important;
}
.wrapper3 {
    position: absolute;
    transform: translate(0, -50%);
    left: 35%;
    right: 35%;
}